html {
  position: relative;
  min-height: 100%;

  @media screen and (max-width: 640px) {
    height: auto;
    min-height: inherit;
  }
}

//Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Fonts
.font-sans-serif {
  font-family: 'Droid Sans', sans-serif;
}

.font-serif {
  font-family: 'Droid Serif', serif;
  font-size: 1em;
}

//Variables
$border-grey: #787878;
$dark-blue: #000066;
$dark-blue-hover: #3333ff;

body {
  @extend .font-serif;
  background: linear-gradient(white, #d9d9d9);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
}


.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 540px;
  padding-top: 120px;
  margin: auto;
  margin-bottom: 180px;
  // margin-bottom: 151px;
}

h1 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 28px;
  margin-bottom: 10px;
}

header {
  margin-bottom: 60px;
  padding-left: 20px;
  display: block;

  p {
    font-size: 0.9em;
  }
}

.logo {
  text-indent: -999em;
  display: block;
  background: url('/img/svg/logo.svg');
  width: 100px;
  height: 48px;
  background-size: cover;
  margin-bottom: 69px;

  @media screen and (max-width: 640px) {
    margin-bottom: 20px;
  }
}

.remove-item {
  display: block;
  width: 16px;
  height: 22px;
  text-decoration: none;
  color: $dark-blue;
  transition: color 0.2s ease-in;
  vertical-align: middle;
  position: absolute;
  top: 12px;
  left: 110px;
  background: url('/img/remove-item-sprite.png');

  @media screen and (max-width: 640px) {
    top: 33%;
  }

  &:hover {
    background-position: -16px 0;
  }

  &:before {
    font-size: 28px;
  }
}

//Form items

form {
  position: relative;
  margin-bottom: 49px;

  input[type="text"] {
    height: 30px;
    width: 40px;
    border: 1px solid $border-grey;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    @extend .font-serif;
    padding-right: 3px;
    outline: 0;
  }

  input[type="submit"] {
    background-color: $dark-blue;
    display: block;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    right: 5%;
    width: auto;
    height: 51px;
    font-size: 22px;
    outline: 0;
    float: right;
    margin-top: 60px;
    margin-right: 8px;
    font-weight: 800;
    transition: background-color 0.1s ease-in;
    letter-spacing: -1px;

    @media screen and (max-width: 640px) {
      margin-top: 10px;
    }

    &:hover {
      background-color: $dark-blue-hover;
    }

    &.disabled {
      background-color: #adadad;
      cursor: default;
    }
  }

  .quantity {
    width: 16px;
    height: 30px;
    vertical-align: top;
    display: inline-block;

    a {
      position: relative;
      border: none;
      background: #999999;
      padding: 0;
      color: white;
      width: 100%;
      height: 14px;
      display: block;
      margin-bottom: 2px;
      font-size: 12px;
      padding-top: 1px;
      cursor: pointer;
    }

    @media screen and (max-width: 640px) {
       width: 100%;

      a {
        top: 6px;
        height: 17px;
        font-size: 14px;
      }
    }
  }
}

table {
  border-collapse:collapse;
  width: 100%;
}

thead {
  text-align: center;
  border-bottom: 2px solid $border-grey;

  th {
    &:first-child {
      text-align: left;
      padding-left: 20px;
    }

    &:last-child {
      text-align: right;
      padding-right: 20px;
    }
  }
}

tr {

  td {
    text-align: center;
    padding: 9px 0;
    border: none;
    position: relative;

    &.cost {
      max-width: 30px;
    }

    &.no-items {
      padding-top: 10px;
    }

    @media screen and (max-width: 640px) {
     padding: 17px 4px;
    }

    &:first-child {
      text-align: left;
      padding-left: 20px;
      letter-spacing: -1px;
    }

    &:nth-child(4) {
      padding-right: 7px;
      text-align: right;

      span {
        margin-right: 10px;
      }
      a {
        margin-right: -50px;
      }
    }

    &:nth-child(5) {
      text-align: left;
      padding-left: 10px;
      background: none;
      min-width: 40px;
    }
  }

  &:nth-child(even) {
    background: #dddddd;
  }
}


tfoot {
  tr {
    color: #666666;

    &:nth-child(1) {
      td {
        vertical-align: bottom;
        padding-top: 40px;
        padding-bottom: 0;
      }
    }

    &:nth-child(2) {
      text-align: right;
      padding-right: 17px;
    }   

    &:nth-child(even) {
      background: none;
    }

    &:last-child {
      color: black;
      font-weight: 800;

      td {
        vertical-align: bottom;
        padding-top: 20px;
      }
    }
  }

  td { 
    &.subtotal, &.vat, &.total-cost {
      text-align: right;
      padding-right: 17px;
    }
    &:nth-child(3) {
      height: 75px;
      vertical-align: bottom;
    }
  }    
}


footer {
  display: block;
  width: 100%;
  height: 41px;
  border-top: 1px solid black;
  background: #666;
  padding-top: 15px;
  position: absolute;
  bottom:0;

  p {
    font-size: 12px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    color: white;
    @extend .font-sans-serif;
  }
}

//IE Specific styles
html.lt-ie9 {
  .logo {
    background: url('/img/logo.png');
  }
  input[type="text"]{
    line-height: 25px;
  }
}